<body>
	
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
					<div >
						<div class="booking-form">
							<form method="POST" id="bookingForm">
                                {% csrf_token %}
                                <!-- tabs START -->
                                <div class="tab-content" id="pills-tabContent">
                                    {% block steps %}
									{% include "./booking_wizard.html" %}
                                    {% endblock steps %}
                                  
                                <!-- tabs END -->
                                {% block buttons %}
                                    <!-- <div class="form-btn d-flex mt-4">
                                        {% if wizard.steps.prev %}
                                            <button class="btn btn-outline-secondary" name="wizard_goto_step" formnovalidate type="submit" value="{{ wizard.steps.prev }}">previous step</button>
                                        {% endif %}
                                        <input type="submit" class="btn btn-primary border-0 text-uppercase ml-auto" value="Next step"/>

                                    </div> -->
                                {% endblock buttons %}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>